* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
  color: white;
}
header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  position: fixed;
  height: 80px;
  z-index: 10;
}
.icons {
  display: flex;
  gap: 40px;
}
.icons i {
  font-size: 24px;
}
.logo h1 {
  font-size: 38px;
}
#hero-section {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 80px;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
}
.text-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-content h2 {
  font-size: 32px;
  color: rgb(214, 214, 214);
}
.text-content h1 {
  font-size: 64px;
}
.text-content h4 {
  font-size: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(227, 227, 227);
}
.text-content h4 del {
  font-size: 20px;
  color: rgb(181, 181, 181);
}
.btn {
  padding: 20px 40px;
  width: fit-content;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 71, 71);
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
#Featured-products-section {
  width: 100%;
  padding: 120px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 120px;
}
#Featured-products-section h1 {
  font-size: 38px;
  font-weight: bold;
}
.product {
  width: 20%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product h1 {
  font-size: 32px;
  color: rgb(184, 184, 184);
  text-align: center;
}
.product img {
  width: 100%;
  object-fit: cover;
}
.product h3 {
  font-size: 48px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product h3 del {
  font-size: 32px;
  color: rgb(180, 180, 180);
}
.product:nth-child(1) {
  scale: 0.7;
}
.product:nth-child(2) {
  scale: 0.85;
}
.product:nth-child(4) {
  scale: 0.85;
}
.product:nth-child(5) {
  scale: 0.7;
}
.all-products {
  display: flex;
}
#top-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
#top-products h1{
    font-size: 38px;
    font-weight: bold;
}
.Filter{
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 20px;
}
.Filter div{
    padding: 16px 40px;
    /* border: 1px solid red; */
    border-radius: 8px;
}
.Filter div span{
    font-size: 24px;
}
.Filter div:first-child{
    background-color: red;
}
.all-products-group{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}